*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family:Helvetica, sans-serif;
}

header{
    border-bottom: 2px solid black;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    font-size: x-large;
    text-transform: uppercase;
}

main{
    flex: 1;
}

footer{
    flex-shrink: 0;
    background-color: rgb(102, 102, 102);
    color: white;
    line-height: 2.5;

}
