body{
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(25, 25, 25);
    padding: 2em;
    line-height: 1.5em;
}

article,
aside{
    display: inline-block;
    margin: 0;
    padding: 0;
}

article{
    width: 70%;
    height: auto;
}

aside{
    width: 29%;
    height: auto;
    position: absolute;
}



ul{
    list-style: square;
}


img{
    width: 70%;
    height: auto;
}
