@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    font: 14px/1.5 'Montserrat', sans-serif;
}

body{
    font:inherit;
}

.site-header{
    font-family: 'Grape Nuts', cursive;
    font-weight: 700;
    font-size: 30px;
}

.site-header a{
    text-decoration: none;
    color: black;
}

.site-header i{
    margin-right: 1em;;
}
.site-header i:last-of-type{
    margin-left: 1em;
}


h1,h2,h3,h4,h5,h6{
    padding: 0.5em;
    text-align: left;
}